#users-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users-table td, #users-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users-table tr:hover {
  background-color: #ddd;
}

#users-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.flex-cookies {
  display: flex;
}

@media screen and (max-width: 640px) {
  .flex-cookies {
    display: flex;
    flex-direction: column;
  }
}

.flex-cookies input {
  width: 100%;
}
